.App {
  text-align: center;
  justify-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #FFFFFF;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #D9D9D9;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.header h1 {
  margin: 0;
  padding: 0;
  background-color: #D9D9D9;
}

.header p {
  margin: 0;
  padding: 15px 0 10px 0;
  background-color: #284B63;
}

.h3 {
  padding: 5px 0 5px 0;
  background-color: #FF6F59;
}
.logo {
  max-width: 15%; 
  height: auto;    
  display: block; 
  margin: 0 auto; 
  min-width: 15%;
  padding: 5px;
}

/* #fancyTitle {
  font-family: 'Mr De Haviland', cursive;
  padding: 0;
  margin: 30px 0 10px 0;
  font-size: 6em;
  font-weight: 100;
  /* letter-spacing: .01em; */
  /* line-height: 80%;
/* } */ 

.form-inline {
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #284B63;
  overflow: hidden;
  position: fixed !important;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Center the Nav Items */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin: 0rem; /* spacing between nav buttons */
  text-decoration: none;
  font-size: 1.2rem; /* consider using vw */
  border-radius: 20px;
  
}
/* 
@media screen and (max-width: 345px) {
  .navbar a {
    font-size: 0.6vw
  }
} */

@media screen and (max-width: 400px) {
  .navbar a {
    font-size: 2.5vw
  }
}

@media screen and (max-width: 520px) {
  .navbar a {
    font-size: 3vw
  }
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #b4eaff;
  color: #284B63;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #FF6F59;
  color: #D9D9D9;
  margin: .5px;
  padding: .5em;
}

.card-image {
  /* border: 1px solid #ddd;
  border-radius: 4%;
  padding: 5px; */
  width: 150px;
  /* display: block; */
  margin: auto;
}

.card-container {
  margin: 5px;
  margin-right: 0;
  padding: 15px;
  width:100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}

.lower-modal {
  margin-top: 500px; /* Adjust this value to set the desired distance from the top */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #124559;
  text-align: center;
  font-size: 10px;
  padding: 5px;
}

.footer h2 {
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* color palette: 
Dark brown/gray: #353535
White: #FFFFFF
light Gray: #D9D9D9
Blue: #284B63
Coral: #FF6F59  */